body {
  background: mistyrose;
}

.wrapper {
  margin: 0 auto;
  width: 500px;  
}

h1 {
  font-family: helvetica;
  font-size: 50px;
  text-align: center;
}

.clock {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  width: 500px;
  height: 500px;
}

#face {
  background: black;
  border-radius: 50%;
}

#secondHand {
  stroke:tomato; 
  stroke-width: 2px;
}

#minuteHand {
  stroke:ivory; 
  stroke-width: 4px;
}

#hourHand {
  stroke: ivory;
  stroke-linecap: round;
  stroke-width: 8px;
}

#spotify { 
  position: absolute;
  left: calc(50% - 150px);
  bottom: 10px;
}